{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
  Empleados
{% endblock titulo %}

{% block contenido %}
  <table>
    <tr>
      <td width="200"><h2> Empleados </h2></td>
      <td>
        <a href="{% url 'create_empleado'  %}" class="btn btn-primary btn-sm">
          <i class="fa fa-plus fa-lg" title="New Record"></i>
        </a>
      </td>
    </tr>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th> Apellido </th>
        <th> Edad </th>
        <th>Trabajo</th>
        <th>Sueldo</th>
      </tr>
    </thead>
    <tbody>
      {% for empleado in empleado_list %}
        <tr>
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido }}</td>
          <td>{{ empleado.edad }}</td>
          <td>{{ empleado.trabajo }}</td>
          <td> $ {{ empleado.sueldo }} </td>
          <td>
            <a href="{% url 'update_empleado' empleado.id %}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1rem;">
              <i class="fa fa-edit fa-sm" title="Edit "></i>
            </a>
            <a href="{% url 'delete_empleado' empleado.id %}" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1rem;">
              <i class="fa fa-trash fa-sm" title="Delete "></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock contenido %}