<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Acerca de mi </title>
</head>
<body>
    <h1> Acerca de mi: </h1>
    <h2> ¡Hola Norman y Diego!</h2>
    <p>  Es un placer saludarlos. Mi nombre es Tomás Rudilla y quisiera contarles quien soy. 
         Tengo 18 años y vivo en Lanús. Tengo una pasion muy grande la cual es el futbol.
         El año pasado termine el secundario. En ese momento, me encontraba un poco indeciso acerca de cuál sería mi próximo paso y decidi hacer un test-vocacional.
         Sin embargo, el destino me llevó a interesarme en el mundo de la programación. Este curso es mi primer curso de programación.
         Al principio no sabia bien de que se trataba este mundo. Lo unico que hacia era ver videos en YouTube de distintos tipos de lenguajes, 
         con el paso del tiempo, fui despertando interes.
         Este curso me sirvio un monton para decidir que iba a seguir haciendo, la verdad que el curso me encanto y me dieron mas ganas de seguir interesandome en estos temas.
         Ayer me anote a un nuevo curso de Desarrollo web tambien en Coder-House ya que me interesa saber tambien un poco de Front-end.
         Agradezco la oportunidad de poder presentarme y contarles un poco sobre mí. </p>

    <h3> Saludos, 
        Tomas Rudilla
    </h3>
</body>
</html>