{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
  Turnos
{% endblock titulo %}

{% block contenido %}
  <table>
    <tr>
      <td width="200"><h2> Turnos </h2></td>
      <td>
        <a href="{% url 'create_turno'  %}" class="btn btn-primary btn-sm">
          <i class="fa fa-plus fa-lg" title="New Record"></i>
        </a>
      </td>
    </tr>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Dni</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for turno in turno_list %}
        <tr>
          <td>{{ turno.id }}</td>
          <td>{{ turno.nombre }}</td>
          <td>{{ turno.dni }}</td>
          <td>{{ turno.fecha }}</td>
          <td>
            <a href="{% url 'update_turno' turno.id %}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1rem;">
              <i class="fa fa-edit fa-sm" title="Edit "></i>
            </a>
            <a href="{% url 'delete_turno' turno.id %}" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1rem;">
              <i class="fa fa-trash fa-sm" title="Delete "></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock contenido %}